table.search-grid-table {
  border: 1px solid black;
  width: auto;
  margin-left: auto;
  margin-right:auto;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

}

table.search-grid-table thead tr > th {
  cursor: pointer;
}

table.search-grid-table td, th {
  padding-left:15px;
  padding-right: 15px;
}

table.search-grid-table th:hover {
  background-color: #7E9A72
}

table.search-grid-table {
  cursor: default;
}

.search-grid-table thead tr th {
    height: 30px;
    line-height: 30px;
    /*text-align: left;*/
}

/*tbody { border-top: 1px solid #333; }*/

.search-grid-table tbody td:last-child, thead th:last-child {
    border-right: none !important;
}

.search-grid-table tr.selected {
  background-color: pink !important;
}

table.scroll tbody,
table.scroll thead tr {
  display: block;
  width: 100%;
}

table.scroll tbody {
  max-height: 450px !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

table.scroll tbody td,
table.scroll thead th {
    border-right: 1px solid #333;
}

table.scroll thead th:last-child {
    /*width: 156px; /* 140px + 16px scrollbar width */*/
}

.staggered-bg tr:nth-child(even) {
  background-color: #bdcab5;

}
.staggered-bg tr:nth-child(odd) {
  background-color: #AFC4A6;
}
